body {background-color: rgb(225, 212, 212);}

.topnavbar {background-color: rgb(133, 198, 220); overflow: hidden; padding: 15px 17px}
.topnavbar a {float:left; color: blue; text-align: center; font-size: 15; margin-right: 20px; font-family: 'Times New Roman', Times, serif;}
.topnavbar a:hover {background-color: rgb(83, 184, 246); color: black;}

h1 {color: rgb(173, 98, 244); font-size: 250%; text-align: center;} 

img {height:600px; background-position: center; margin-left: 31%;}
p2 {text-align: left; font-family: cursive;}
p1 {text-align: center; margin-left: 27%; font-family: cursive; padding: 5px;}

button {
    display: inline-block;
    padding: 5px;
    color:white;
    background-color: blueviolet;
    text-align: center;
    font-size: large;
    cursor: pointer;
    display: inline-block;
  }
  
button:hover {
    background-color:rgb(173, 98, 244);}

footer {background-color: rgb(133, 198, 220); overflow: hidden; padding: 15px 17px}

h2{
    color: mediumvioletred; 
    font-size: 150%;
    text-align: left;
}

h3{
    color:rgb(173, 98, 244); 
    font-size: 150%;
    text-align: left;
}

.work{
    background-color: rgb(238, 195, 221);
    max-width: 700px;
    font-family: Verdana;
}

.organization{
    font-size: 100%;
    font-weight:bold;
}

.job{
    font-size: 110%;
    font-weight: bolder;
}

.time{
    font-size: 90%;
    font-style: italic;
}

.description{
    font-size: 80%;
    margin-bottom: 50px;
}

.firstname{
    font-style: italic;
}